name: TWRP 16 Builder

on:
  workflow_dispatch:
  push:
    branches: main
    paths:
      - '.github/workflows/bp.yml'
      - 'Android.bp'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
    - name: Cleanup
      uses: rokibhasansagar/slimhub_actions@main

    - name: Maximize build space
      uses: easimon/maximize-build-space@master

    - name: Setup zram
      run: |
        sudo apt install linux-modules-extra-$(uname -r) zram-tools -y
        sudo modprobe zram
        echo ----------------------------------------
        sudo sed -i 's/^#PERCENT=50/PERCENT=90/' /etc/default/zramswap
        sudo sed -i 's/^#PRIORITY=100/PRIORITY=1000/' /etc/default/zramswap
        sudo systemctl restart zramswap
        zramctl

    - name: Setup environment
      run: |
        export DEBIAN_FRONTEND=noninteractive
        sudo apt update && sudo apt upgrade -y
        sudo apt install repo -y
        git init
        git config user.name ${{ github.actor }}
        git config user.email ${{ github.actor }}@users.noreply.github.com

    - name: Sync source
      run: |
        repo init -u https://github.com/TWRP-Test/platform_manifest_twrp_aosp -b twrp-16.0 --depth=1 --git-lfs
        repo sync -c --force-sync --no-clone-bundle --no-tags -j9

    - name: Setup device
      run: |
        git clone https://github.com/kmiit/twrp_device_oplus_sm87xx device/oplus/sm87xx --depth=1
        git clone https://github.com/ApertureLatticework/android_external_ruri external/ruri --depth=1
        git clone https://github.com/ApertureLatticework/android_external_libseccomp external/libseccomp --depth=1

    - name: Build
      run: |
        source build/envsetup.sh
        export ALLOW_MISSING_DEPENDENCIES=true
        lunch twrp_sm87xx
        m ruri
